{
  "rules": {
    "indent": [
      2,
      2,
      {"SwitchCase": 1}
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-console": [
      0
    ],
    "no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ],
    "default-case": 2
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended"
}
